$default-font : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$heading-font : 'Potta One', cursive;
$heading-desc: 'Josefin Sans', sans-serif;
$bg-color: rgba(172, 219, 238, 0.993);
$cardbg:  #2a2a72;
$alt-cardbg: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
$color1:#034282;
$fourteen : 14px;